* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}

header {
  background-color: #f9dec9;
  font-size: 1.2em;
  text-align: center;
}

.search-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
  top: 0;
  left: 0;
  right: 0;
  background-color: #f9dec9;
}

.search-brand,
.search-location {
  display: flex;
  color: black;
  margin: 0;
  padding: 1%;
  justify-content: stretch;
  font-weight: bold;
}

.search-brand label,
.search-location label {
  display: flex;
  min-width: 35%;
  align-items: center;
}

#brand-dropdown,
#location-dropdown {
  margin: 0 1em;
  font-weight: 700;
  font-size: 1em;

  min-width: 60%;
  border: 1px solid #aaa;
  border-radius: 0.5em;
}

.outlet-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
}

.advanced-filters {
  display: flex;
  background-color: #f9dec9;
  justify-content: flex-start;
}

.advanced-filters p,
.advanced-filters div {
  margin-right: 1em;
}

.advanced-filters select {
  border-radius: 50%;
  font-weight: 1000;
  margin: 0 0.5em;
}

.very-near {
  color: lime;
  font-size: 1.5em;
  font-weight: bold;
}

.near {
  color: green;
}

.far {
  color: red;
}
