* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  cursor: default;
}

header {
  background-color: #f9dec9;
  font-size: 1.2em;
  text-align: center;
}

.search-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(60px, 1fr));
  top: 0;
  left: 0;
  right: 0;
  background-color: #f9dec9;
}

.search-brand,
.search-location {
  display: flex;
  color: black;
  margin: 0;
  padding: 1%;
  justify-content: stretch;
  /* font-weight: bold; */
}

.search-brand label,
.search-location label {
  display: flex;
  min-width: 35%;
  align-items: center;
  justify-content: center;
}

#brand-dropdown,
#location-dropdown {
  margin: 0 1em;
  max-height: 3rem;
  /* font-weight: 700; */
  /* font-size: 1em; */
  color: #f9dec9;
  background-color: black;
  min-width: 60%;
  border: 1px solid #aaa;
  border-radius: 0.5em;
}

/* .outlet-wrapper {
  overflow-y: auto;
  height: calc(100vh - 120px);
} */

.advanced-filters {
  display: flex;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(384px, 1fr)); */
  /* grid-template-rows: repeat(auto-fit, minmax(10px, 1fr)); */
  background-color: #f9dec9;
  padding-bottom: 0.5em;
}

.advanced-filters select {
  border-radius: 1%;
  margin: 0 0.5em;
  background-color: rgb(36, 35, 35);
  color: #f9dec9;
}

.very-near {
  color: lime;
  font-size: 1.5em;
  font-weight: bold;
}

.near {
  color: green;
}

.far {
  color: red;
}

.address {
  display: flex;
  flex-direction: column;
}

.waiting-time,
.distance {
  cursor: pointer;
  font-size: 1.3em;
}

.select-number {
  text-align: right;
  margin-right: 0.5em;
  /* font-size: 0.8em; */
}

.select-time {
  text-align: left;
  /* font-size: 0.8em; */
}

@media only screen and (max-width: 768px) {
  .select-number,
  .select-time {
    text-align: center;
    font-size: 0.5em;
  }
}
