.add-drink-form {
  display: flex;
  font-size: 1.5em;
}

.add-drink-form div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.single-inputs,
.multiple-selects {
  display: flex;
  flex-direction: column;
}

.single-inputs div {
  align-items: stretch;
}
