* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  cursor: default;
  overscroll-behavior: none;
}

.prompt {
  text-align: center;
  font-size: 3rem;
}

.category-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 12em;
  height: 10em;
  border: 0.5px solid lightgrey;
  border-radius: 1em;
  box-shadow: 0.25em 0.25em lightgrey;
  margin: 0.5em auto;
  padding: 1em;
  color: initial;
  text-decoration: none;
}

.category:hover {
  background: rgb(139, 198, 238);
}

.category:hover .label {
  color: #f9dec9;
}
