ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1em;
  padding: 0.5em;
  background-color: white;
  font-weight: 700;
  color: black;
}

ul li span {
  flex: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li span:first-child {
  flex: 1;
}

.listing-header {
  border-bottom: double;
  background-color: #5e8199;
  color: white;
  box-shadow: 0 0;
}

.listing-header span:first-child {
  margin-left: 1em;
}

.listing-header span:last-child {
  margin-right: 1.75em;
}

.shops {
  overflow-y: auto;
  height: 63vh;
  /* height: calc(100vh - 130px); */
}
.shops li {
  min-height: 80px;
  border-radius: 0.5em;
  margin: 1em;
  box-shadow: 0.5em 0.5em lightgrey;
  border: 0.5px solid lightgrey;
  animation: fadeIn 0.5s ease-in;
  animation-fill-mode: both;
}

.very-near {
  color: lime;
  font-size: 1.5em;
  font-weight: bold;
}

.near {
  color: green;
}

.far {
  color: red;
}

.address {
  display: flex;
  flex-direction: column;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.shops li:hover {
  transform: translate(0.1em, -0.5em);
}

img {
  max-width: 100%;
  height: auto;
}

.outlet-wrapper p {
  text-align: center;
  margin: 10% auto;
  font-weight: 1000;
}

@media only screen and (max-width: 768px) {
  ul li {
    font-size: 0.7em;
  }

  img {
    max-width: 50%;
  }

  .shops li {
    min-height: 50px;
  }

  .listing-header span:first-child {
    margin-left: 1em;
  }

  .listing-header span:last-child {
    margin-right: 1em;
  }
}
