ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1em;
  padding: 0.5em;
  background-color: #d7e4ed;
  font-weight: 700;
  color: black;
}

ul li span {
  flex: 2;
  text-align: center;
}

ul li span:first-child {
  flex: 1;
}

ul li:first-child {
  border-bottom: double;
  background-color: #5e8199;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
}

.outlet-wrapper p {
  text-align: center;
  margin: 10% auto;
  font-weight: 1000;
}
